{% extends "FastrePhpFtpAdminBundle::layout.html.twig" %}



{% block body %}

<h1>Liste des utilisateurs</h1>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Actions</th>
        
        </tr>
    </thead>
    <tbody>
        <tr><td colspan="2"><a href="{{ path('account_new') }}">Nouveau</a></td></tr>
        {% for account in accounts %}
            <tr>
                <td>{{account.username}}</td>
                <td><a href="{{ path('account_view', {'id': account.id}) }}">Modifier</a></td>
            </tr>
            
            
        {% endfor %}
    
    </tbody>
</table>


{% endblock %}
