<!doctype html>
<html>
    <head>
        <title>{% block title %}PhpFtpAdmin{% endblock %}</title>
    
    
    </head>

    <body>
        
        
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('warning') %}
            <div class="flash-warning">
                {{ flashMessage }}
            </div>
        {% endfor %}

        
        {% block body %}
        
        
        
        {% endblock %}
    
    
    
    
    
    
    </body>



</html>